body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	width: 100%;
}

footer {
	margin-top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	color: white;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: white;
	background-color: black;
	text-decoration: none;
}

a.btn {
	text-decoration: none;
}

a.btn:hover {
	background: red;
	border-color: red;
}

code {
	color: black;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

nav {
	background-color: black;
}

.nav-link, nav > a {
	color: white;
	text-decoration: none;
}
.nav-item{
	border-left: 1px solid white;
	border-right: 1px solid white;
	width: 150px;
	text-align: center;
}
.active{
	border-bottom: 3px solid red;
}
.nav-link:hover, nav>a:hover {
	color: black;
	background-color: white;
}

.suppc {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}